.DS_Store
Thumbs.db

/build/
/doc/build/

*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.toc
*.fdb_latexmk
*.fls
*.synctex.gz

.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/

*.swp
*.class
*.iml
*.ipr
*.iws
.atom/
.history/
.idea/
.build/
.buildlog/
.migrate_working_dir/

/coverage/

/android/app/debug
/android/app/profile
/android/app/release
